<html lang="en">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="background-color: bisque;">
    Hi! Welcome to our app.
    <div style="margin-top: 10%; margin-right: 40%; margin-left: 40%;">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="search food" aria-label="search"
                aria-describedby="basic-addon2">
            <div class="input-group-append">
                <a href="/search">
                    <button class="btn btn-outline-secondary" type="button">Go</button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>